 p{
    color: red;
}
p{
    color: gray;
}
.oleshkiv-sands p{
    color: blue;
}
.text{
    color: yellow;
}
p{
    color: red;
}
#dniester{
    color: green;
}
.shatsky-lakes .text{
    color: purple;
}
.koyashske-lake h2{
    color: forestgreen;
}
h2{
    color: blue;
}